{% comment %}
List tags from all pages.
{% endcomment %}

{% assign all_tags = "" %}
{% for page in site.pages %}
    {% if all_tags == empty %}
    {% assign all_tags = page.tags | split: " " %}
    {% else %}
    {% assign page_tags = page.tags | split: " " %}
    {% assign all_tags = all_tags | concat: page_tags %}
    {% endif%}
{% endfor %}

{% assign all_unique_tags = all_tags | uniq | sort_natural %}

<div>
    <ul class="tags">
        {% for tag in all_unique_tags %}
        <li> <a href="#{{ tag }}">{{ tag }}</a> </li>
        {% endfor %}
    </ul>
</div>

{% for tag in all_unique_tags %}   
<article id="{{ tag }}">
    <h2>{{ tag }}</h2>
    <ul class="posts">
        {% for page in site.pages %}
        {% if page.tags contains tag %}
        <li><a href="{{ site.url }}{{ page.url | relative_url }}" title="{{ page.title }}">{{ page.title }}</a></li>
        {% endif %}
        {% endfor %}
    </ul>
</article>
{% endfor %}


